img {
    width: 32px;
}
main {
    flex-grow: 1;
    position: relative;
    color: white;
    font-family: "Mandator";
}

main>article {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 3fr 1fr;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: transform 400ms ease;
}

main>article[data-status="inactive"] {
    transform: translateX(-100%);
    transition: none;
}

main>article[data-status="active"] {
    transform: translateX(0%);
}

main>article[data-status="before"] {
    transform: translateX(-100%);
}

main>article[data-status="after"] {
    transform: translateX(100%);
}

main>article[data-status="becoming-active-from-before"] {
    transform: translateX(-100%);
    transition: none;
}

main>article[data-status="becoming-active-from-after"] {
    transform: translateX(100%);
    transition: none;
}

main>article>.article-section {
    height: 100%;
    display: flex;
}

main>article>.article-description-section, main>article>.article-nav-section {
    border-left: 1px solid var(--border-color);
}

main>article>.article-title-section, main>article>.article-nav-section {
    border-left: 1px solid var(--border-color);
}

main>article>.article-image-section>img{
    object-fit: contain;
    width: 100%;
    object-position: center;
    background-color: #ffffff;
    aspect-ratio: 3 / 1;
}
main>article>.article-image-section {
    background-position: center;
    background-size: cover;
    border: 1px solid var(--border-color);
}

main>article>.article-description-section {
    flex-direction: column;
    justify-content: flex-start;
    padding: 4rem;
}

main>article>.article-description-section>p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25em;
}

main>article>.article-description-section>p>a:hover {
    text-decoration: underline;
}
main>article>.article-description-section>span{
    font-family: 'MandatorBold';
}
main>article>.article-description-section>button{
    height: 50px;
    outline: none;
    border: 2px solid var(--border-color);
    margin-top: 3rem;
    background-color: var(--background-color);
    color: white;
    font-size: 1rem;
    border-radius: 8px;
}
main>article>.article-description-section>button:hover{
    background-color: rgba(255, 255, 255, 0.02);
}
main>article>.article-title-section {
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
}

main>article>.article-title-section * {
    color: #ffffff;
}

main>article>.article-title-section>h2 {
    flex-basis: 50%;
    font-family: "Mandator", sans-serif;
    font-size: 3.5rem;
    line-height: 5rem;
    margin: 0px;
    font-weight: 100;
}

main>article>.article-title-section>i {
    color: rgb(255 255 255 / 75%);
    font-size: 4rem;
}

main>article>.article-nav-section>.article-nav-button {
    background-color: transparent;
    flex-grow: 1;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.75);
    font-size: 3rem;
    cursor: pointer;
    border-top: 1px solid var(--border-color);
    height: 160px;
}

main>article>.article-nav-section>.article-nav-button:hover {
    background-color: rgba(255, 255, 255, 0.02);
}

main>article>.article-nav-section>.article-nav-button:nth-child(2) {
    border-left: 1px solid var(--border-color);
}
@media(max-width: 800px) {
    *{
        font-family: "Mandator", sans-serif;
    }
    main>article {
        grid-template-rows: 1fr repeat(4, 0.5fr);
        height: max(700px, 100%);
    }
    main>article.dreams{
            grid-template-columns: 1fr !important;
            grid-template-rows: 3fr !important;
    }
    main>article>.article-title-section {
        padding: 2rem;
    }

    main>article>.article-title-section>h2 {
        flex-basis: 70%;
        font-size: 1.75em;
        line-height: 1.5rem;
    }

    main>article>.article-title-section>i {
        font-size: 2rem;
    }

    main>article>.article-description-section {
        padding: 2rem;
        line-height: 2rem;
    }

    main>article>.article-description-section>p {
        font-size: 1rem;
    }
    main>article>.article-image-section>img{        
        padding-top: 0px !important;
        object-fit: contain;
        grid-row: span 0 !important;
        aspect-ratio: 3 / 1.5;
    }
}
@media(max-width: 1200px) {
    *{
        font-family: "Mandator", sans-serif;
    }
    main {
        overflow-y: visible;
        height: fit-content;
    }

    main>article {
        grid-template-columns: none;
        grid-template-rows: 1.5fr repeat(3, 0.75fr) 0.25fr;
        height: max(900px, 100%);
        font-family: 'Mandator';
    }

    main>article>.article-title-section>h2 {
        font-size: 3rem;
        line-height: 2.6rem;
    }

    main>article>.article-title-section>i {
        font-size: 3rem;
    }

    main>article>.article-description-section, main>article>.article-nav-section {
        border-left: none;
    }

    main>article>.article-image-section {
        order: 1;
        height: 100%;
    }

    main>article>.article-title-section {
        border-bottom: 1px solid var(--border-color);
        order: 2;
    }

    main>article>.article-description-section {
        justify-content: center;
        order: 3;
    }

    main>article>.article-nav-section {
        border-bottom: 1px solid var(--border-color);
        order: 4;
    }
}




.active {
    transition: .3s;
    transform: rotate(90deg);
}

.unactive {
    transition: .3s;
    transform: rotate(0deg);
}
side {
    height: 100vh;
}

.carousel {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 300px;
    margin: 0px auto;
}

.carousel-content {
    position: relative;
    overflow: hidden;
    transition: width .4s;
    height: 100%;
}

.slide {
    height: 100%;
    position: absolute;
    z-index: 1;
    transition: left .4s cubic-bezier(.47, .13, .15, .89);
    border-radius: 10px;
    background-position: center;
    background-size: cover;
}

.nav {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    background-color: rgba(150, 150, 150, .3);
    width: 20px;
    height: 20px;
    z-index: 2;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    outline: none;
    color: white;
    user-select: none;
}

.nav-left {
    left: -150px;
    width: 100px;
    height: 100px;
}

.nav-right {
    right: -150px;
    width: 100px;
    height: 100px;
}

.left-button, .right-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
