:root {
    --background-color: #3b3b3b;
    --border-color: #669bbc;
    --highlight-color: rgb(24, 47, 76);
}
@font-face { 
  font-family: "Geist", system-ui, sans-serif;
  font-display: swap;
  font-weight: 400;
  src: url(/Geist-Regular.ttf)
}

* {
    font-family: 'Geist', sans-serif;
    box-sizing: border-box;
    user-select: none;
    text-decoration: none;
    white-space: nowrap;
}
body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
    overflow-x: hidden;
}
img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: grayscale(1);
}
.menu:hover {
    width: 270px;
}
.menu {
    width: 114px;
    height: 34px;
    background-color: rgb(255, 255, 255);
    border-radius: 1.2rem;
    transition: .5s;
    display: flex;
    align-items: flex-start;
    translate: none;
    rotate: none;
    scale: none;
    transform: translate(0px, 0px);
    justify-content: space-between;
    padding-right: 7px;
    position: fixed;
    z-index: 120000;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
span.dot{
    background-color: #000000;
    border-radius: 50%;
    height: 70%;
    left: 25%;
    position: absolute;
    top: 25%;
    width: 70%;
    display: inline-block;
    transition: .5s;
}
.menu:hover span.dot.dot1 {
    translate: none;
    rotate: none;
    transform: translate(100%, -50%) rotate(90deg) !important;
}

.menu:hover span.dot.dot2 {
    translate: none;
    rotate: none;
    scale: none;
    transform: translate(100%, -50%) rotate(90deg) !important;
}

.menu:hover span.dot.dot3 {
    translate: none;
    rotate: none;
    scale: none;
    transform: translate(-100%, -50%) rotate(90deg) !important;
}

.menu:hover span.dot.dot4 {
    translate: none;
    rotate: none;
    scale: none;
    transform: translate(-100%, -50%) rotate(90deg) !important;
}
.menu nav {
    display: flex;
    visibility: hidden;
    width: 0;
    pointer-events: none;
}
.menu:hover nav {
    pointer-events: auto;
    visibility: visible;
    position: relative;
    display: flex;
    width: calc(100% * (1 / 1.85));
    justify-content: space-around;
    height: min-content;
    top: 50%;
    transform: translateY(-50%);
}
nav span {
    width: auto;
}
.menu nav .first_a {
    opacity: 0;
    transform: translateY(5px);
    transition: opacity 0.3s ease-in-out 0.3s;
}

.menu:hover nav a {
    opacity: 1;
    transform: translateY(0);
}

.menu span .second_a {
    opacity: 0;
    transform: translateY(5px);
    transition: opacity 0.6s ease-in-out 0.6s;
}
.a_clr_blc__a_clrBlc_Fe3a9{
    color: #000000;
}